body, button {
  background-color: #fff;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 13px;
  color: #121210;
  line-height: 1.6;
}

body, * {
  box-sizing: border-box;
}

a {
  color: #059;
}

.wrapper {
  width: 540px;
  margin: auto;
}

.notice {
  background: #f1f5f9;
  border-left: 2px solid #c1c5cd;
  border-radius: 0 5px 5px 0;
  padding: 12px;
  margin: 20px 15px 30px;
  font-weight: bold;
}

.option {
  margin: 10px 0 0;
  padding: 15px;
  transition: all 0.6s;
}

.saved.option {
  background: #ffe;
  color: #333;
}

.description {
  margin-top: 5px;
  color: #666;
}

.help {
  color: #c58989;
  font-size: 12px;
}

input[type]:focus {
  background-color: #fff;
  border: 1px solid #49d;
  outline: none;
}

input[type] {
  background: #f5f5f5;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 12px;
  margin-top: 5px;
  font-family: menlo, monospace;
}

input[type] {
  display: block;
  line-height: 1;
  width: 100%;
}

label {
  font-size: 14px;
}

button {
  background: #4a6;
  border: 0;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 3px;
  text-transform: uppercase;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
  transition: all .6s;
  margin: 20px 15px;
  display: block;
  font-size: 12px;
}

button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
}

code {
  background-color: #f0f0f0;
  padding: 0 3px;
  border: 1px solid #ddd;
  font-family: monospace;
  font-size: 12px;
  white-space: nowrap;
  border-radius: 2px;
}
